<!DOCTYPE html>
<html>
  <head>
    <title>Vinyl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="flex">
      <!-- Sidebar -->
      <div class="h-screen sticky top-0 w-32 bg-gray-800 text-white">
        <!-- Sidebar content goes here -->
        <h1 class="ml-2 font-bold text-2xl">Vinyl</h1>
        <ul>
          <li><%= link_to "Home", root_path, class: "ml-2 mt-6 btn btn-sm btn-primary" %></li>
          <li><%= link_to "Setup", setup_path, class: "ml-2 mt-2 btn btn-sm btn-primary" %></li>
          <li><%= link_to "Artists", artists_path, class: "ml-2 mt-2 btn btn-sm btn-primary" %></li>
          <li><%= link_to "Albums", albums_path, class: "ml-2 mt-2 btn btn-sm btn-primary" %></li>
        </ul>
      </div>
      <!-- Main Content -->
      <div class="flex-grow">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
